EXPORT
Build
Binaries
DerivedDataCache
Intermediate
Saved
WindowsNoEditor
Android
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.7z
*.log

Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
*.log
*.wav
